<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Number of Reports');
        data.addRows([         
          ['January', <%= @months['January'] %>], ['Febuary', <%= @months['Febuary'] %>], ['March',<%= @months['March'] %>], ['April',<%= @months['April'] %>], ['May',<%= @months['May'] %>],
          ['June',<%= @months['June'] %>],   ['July',<%= @months['July'] %>], ['August',<%= @months['August'] %>], ['September',<%= @months['September'] %>], ['October',<%= @months['October'] %>],
	  ['November',<%= @months['November'] %>], ['December',<%= @months['December'] %>]  ]);

        // Set chart options
        var options = {'title':'Migraine Reports submitted sorted by Month',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

<% if current_user != nil %>
<% @months.each do |m,v| %>
<p> <%= m %> , <%= v %> </p>
<% end %>
<div id="chart_div"></div>
<% else %>
<h1> Please log in to view analytics </h1>
<% end %>
