%h1 Listing migraine_reports

%table
  %tr
    %th Start
    %th Duration
    %th Severity
    %th Location
    %th Other
    %th User
    %th
    %th
    %th

  - @migraine_reports.each do |migraine_report|
    %tr
      %td= migraine_report.start
      %td= migraine_report.duration
      %td= migraine_report.severity
      %td= migraine_report.location
      %td= migraine_report.other
      %td= migraine_report.user_id
      %td= link_to 'Show', migraine_report
      %td= link_to 'Edit', edit_migraine_report_path(migraine_report)
      %td= link_to 'Destroy', migraine_report, :confirm => 'Are you sure?', :method => :delete

%br

%p= link_to 'New Migraine report', new_migraine_report_path
