<%= form_for(@stress_report) do |f| %>
  <% if @stress_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stress_report.errors.count, "error") %> prohibited this stress_report from being saved:</h2>

      <ul>
      <% @stress_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% else %>
    <% @stress_report.user = current_user %>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :cause %><br />
    <%= f.text_field :cause %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.text_field :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
