<h1> Welcome to Version 1.1 of the Migraine Tracker </h1>

<p>
View <%= link_to "Migraine Reports", migraine_reports_path %>
</p>
<p>
View <%= link_to "Medication Reports", medication_reports_path %>
</p>
<p>
View <%= link_to "Stress Reports", stress_reports_path %>
</p>
<p>
View <%= link_to "Other Reports", other_reports_path %>
</p>
<p>
<%= link_to "Create PDFs",pdfs_index_path %>
</p>
<% end %>

