= form_for @medication_report do |f|
  -if @medication_report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@medication_report.errors.count, "error")} prohibited this medication_report from being saved:"
      %ul
        - @medication_report.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :medication
    = f.text_field :medication
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :units
    = f.text_field :units
  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.label :other
    = f.text_field :other
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
