%h1 Listing other_reports

%table
  %tr
    %th Time
    %th Details
    %th User
    %th
    %th
    %th

  - @other_reports.each do |other_report|
    %tr
      %td= other_report.time
      %td= other_report.details
      %td= other_report.user_id
      %td= link_to 'Show', other_report
      %td= link_to 'Edit', edit_other_report_path(other_report)
      %td= link_to 'Destroy', other_report, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Other report', new_other_report_path
