%p#notice= notice

%p
  %b Time:
  = @other_report.time
%p
  %b Details:
  = @other_report.details
%p
  %b User:
  = @other_report.user_id

= link_to 'Edit', edit_other_report_path(@other_report)
\|
= link_to 'Back', other_reports_path
