<!DOCTYPE html>
<html>
<head>
  <title>Migraine Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>
<%= link_to "Home", root %>
</p>
</body>
</html>
